# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TypeScript cache
*.tsbuildinfo
ts-gen

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
jspm_packages/
bower_components

# Output directories
dist/
out/
lib-cov
coverage
*.lcov
.nyc_output

# Build tools
.grunt
.cache
.parcel-cache
.npm
.npmrc
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.depshash
patches/mtime-cache.json

# IDE/editor config
.idea/
.vscode/
*.sln
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# OS/Editor files
.DS_Store
*.swp
.node_repl_history
.env
.env.*
!.env.example
.envrc
.gclient_done
.tags*

# Electron specific
electron-api.json
electron.d.ts
/spec/fixtures/native-addon/echo/build/
spec/.hash
spec/fixtures/logo.png

# Other tools
web_modules/
.next
.nuxt
.nuxt/
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test

# Optional linter/test caches
.eslintcache*
.stylelintcache

# npm pack artifacts
*.tgz
/npm/dist
/npm/path.txt
/npm/checksums.json

# Yarn v2
.pnp.*
