body {
    background-image: url("sprites/background.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.fixed-window {
    width: 600px;
    height: 630px;
    margin: 0 auto;
}
.clock-container {
    display: block;
    justify-content: center;
    align-items: center;
}

#clock {
    height: 125px;
    margin-top: 75px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'VT323', 'basis33', 'Pixel FJVerdana', monospace;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#start-button, #stop-button, #pause-button, #select-button {
    width: 172px;
    height: 63px;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}

#start-button {
    background: transparent url(sprites/start_button.png) no-repeat 0 0;
}

#start-button:hover {
    background: transparent url("sprites/start_button_clicked.png") no-repeat 0 0;
}

#stop-button {
    width: 145px;
    background: transparent url(sprites/stop_button.png) no-repeat 0 0;
}

#stop-button:hover {
    background: transparent url("sprites/stop_button_clicked.png") no-repeat 0 0;
}

#pause-button {
    width: 168px;
    background: transparent url(sprites/pause_button.png) no-repeat 0 0;
}

#pause-button:hover {
    background: transparent url("sprites/pause_button_clicked.png") no-repeat 0 0;
}

#select-button {
    width: 205px;
    background: transparent url(sprites/select_button.png) no-repeat 0 0;
}

#select-button:hover {
    background: transparent url("sprites/select_button_clicked.png") no-repeat 0 0;
}

#mascot-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'VT323', 'basis33', 'Pixel FJVerdana', monospace;
    font-size: 20px;
}

.mascot-selection {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#mascot-left-locked-img {
    opacity: 0.75;
}

#mascot-right-unlocked-img {
    opacity: 0.75;
}

#select-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    display: flex;
    gap: 20px;
}

#left-arrow-button, #right-arrow-button, #block-list-button, #pop-out-button {
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}

#left-arrow-button {
    background: transparent url(sprites/arrow_left.png) no-repeat 0 0;
}

#left-arrow-button:hover {
    background: transparent url("sprites/arrow_left_clicked.png") no-repeat 0 0;
}

#right-arrow-button {
    background: transparent url(sprites/arrow_right.png) no-repeat 0 0;
}

#right-arrow-button:hover {
    background: transparent url("sprites/arrow_right_clicked.png") no-repeat 0 0;
}

#block-list-button {
    background: transparent url(sprites/list_button.png) no-repeat 0 0;
}

#block-list-button:hover {
    background: transparent url("sprites/list_button_clicked.png") no-repeat 0 0;
}

#pop-out-button {
    background: transparent url(sprites/pop_out.png) no-repeat 0 0;
}

#pop-out-button:hover {
    background: transparent url("sprites/pop_out_clicked.png") no-repeat 0 0;
}